<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-4 mx-auto">
      <form method="POST" action="/expenses/{{ record._id }}?_method=PUT" id="form">
        <div class="row g-2 mb-3">
          <label for="name" class="col-md-4 col-form-label">
            <strong>*必填欄位</strong>
          </label>
          <div class="col-md-8">
            <h4 class="title text-center">請輸入你的支出</h4>
          </div>
        </div>
        {{!-- 輸入名稱 --}}
        <div class="row g-2 mb-3">
          <label for="name" class="col-md-4 col-form-label">
            名稱 *:
          </label>
          <div class="col-md-8">
            <input type="text" name="name" class="form-control" id="name" value="{{ record.name }}" placeholder="" required>
            <div class="invalid-feedback"> This field is required.</div>
          </div>
        </div>
        {{!-- 輸入日期 --}}
        <div class="row g-2 mb-3">
          <label for="date" class="col-md-4 col-form-label">
            日期 *:
          </label>
          <div class="col-md-8">
            <input type="date" name="date" class="form-control" id="date" value="{{ record.date }}" required>
            <div class="invalid-feedback"> This field is required.</div>
          </div>
        </div>
        {{!-- 輸入類別 --}}
        <div class="row g-2 mb-3">
          <label for="category" class="col-md-4 col-form-label">
            類別 *:
          </label>
          <div class="col-md-8">
            <select name="category" class="form-control" id="category" required>
              {{#each categoryOptions as |option|}}
              <option value="{{option.name}}" {{#if option.isSelected}}selected{{/if}}>{{option.name}}</option>
              {{/each}}
            </select>
            <div class="invalid-feedback"> This field is required.</div>
          </div>
        </div>
        {{!-- 輸入金額 --}}
        <div class="row g-2 mb-3">
          <label for="amount" class="col-md-4 col-form-label">
            金額 *:
          </label>
          <div class="col-md-8">
            <input type="number" name="amount" class="form-control" id="amount" placeholder="" value="{{record.amount}}" required>
            <div class="invalid-feedback"> This field is required.</div>
          </div>
        </div>
        <div class="text-center my-5">
          <button id="submit" class="btn btn-success" type="submit">送出</button>
        </div>
        {{!-- <a class=" ms-2 btn btn-outline-secondary" href="/" role="button">取消</a> --}}
      </form>
    </div>
  </div>
</div>